<head>
    <link href="/style/layui/css/layui.css?201908072009" rel="stylesheet" />
    <link href="/style/css/main.css?v=201922262" rel="stylesheet" />
</head>
<body>
    <input type="hidden" id="articleId">
    <input type="hidden" id="postReviceUser">
    <div class="review-b">
        <div class="review padding">
            <textarea id="L_content" lay-verify="content" class="layui-textarea"></textarea>
        </div>
        <div class="padding">
            <button class="layui-btn" lay-filter="publish" data-type="publish" lay-submit>立即提交</button>
        </div>
    </div>
</body>
<script>
</script>