<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width = device-width" />
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <link href="~/css/main.css?v=201922262" rel="stylesheet" />
    <link href="~/css/layout.css?v=121" rel="stylesheet" />
    <link href="~/css/global.css?v=1" rel="stylesheet" />
    <script src="~/js/jquery.js"></script>
    <script src="~/layui/layui.js"></script>
    <script src="~/js/layout.js?v=13"></script>
    <script>
        layui.use(['upload', 'form'], function () {
            var form = layui.form; //只有执行了这一步，部分表单元素才会自动修饰成功
            var upload = layui.upload;
            var imgUrls = "";
            form.render();
            //多图片上传
            upload.render({
                elem: '#uploadPhoto'
                , url: '../Upload/UploadPhoto'
                , multiple: true
                , before: function (obj) {
                    //预读本地文件示例，不支持ie8
                    obj.preview(function (index, file, result) {
                        $('#photoList').append('<img  src="' + result + '" alt="' + file.name + '" class="layui-upload-img">')
                    });
                }
                , done: function (res) {
                    if (res.code == 0) {

                        imgUrls = imgUrls + res.data + ",";
                    }
                }
            });
            form.on("submit(publish)", function (data) {
                var index = layer.load(2);
                $.ajax({
                    url: "/publish/addwhisper",
                    type: "post",
                    data: {
                        "content": data.field.content,
                        "imgUrls": imgUrls
                    },
                    success: function (response) {
                        if (response.message == "ok") {
                            window.location.href = "../Home/Index?pagepath=Whisper";

                        }
                        else {
                            layer.close(index)
                            layer.msg(response.msg, { icon: 4 });
                        }
                    },
                    error: function (response) {
                        layer.close(index)
                        layer.msg("响应服务器失败", { icon: 7 });
                    }
                });
                return false;
            })
            layui.config({
                base: '/js/mods/'
            }).extend({
                fly: 'index'
            }).use('fly');
        });
    </script>
</head>
@model Blog.Application.ViewModel.UserModel
@using Blog
@{
    Blog.Application.ViewModel.UserModel user = Auth.GetLoginUser();
}
<body>
    <div class="fly-header layui-bg-black">
        <div class="layui-header">
            <ul class="layui-nav layui-layout-right nav-right">
                <li class="layui-nav-item">
                    <a href="">控制台<span class="layui-badge">9</span></a>
                </li>
                <li class="layui-nav-item">
                    <a href="">个人中心<span class="layui-badge-dot"></span></a>
                </li>
                <li class="layui-nav-item" lay-unselect="">
                    <a href=""><img src="" class="layui-nav-img" />@user.Username</a>
                    <dl class="layui-nav-child" style="color:white !important">
                        <dd><a href="javascript:;">修改信息</a></dd>
                        <dd><a href="javascript:;">安全管理</a></dd>
                        <dd><a href="../Login/LoginOut">退了</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
    <div class="layui-container fly-marginTop">
        <div class="fly-panel" pad20 style="padding-top: 5px;">
            <!--<div class="fly-none">没有权限</div>-->
            <div class="layui-form layui-form-pane">
                <div class="layui-tab layui-tab-brief" lay-filter="user">
                    <ul class="layui-tab-title">
                        <li class="layui-this">分享微语</li>
                    </ul>
                    <div class="layui-form layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
                        <div class="layui-tab-item layui-show">
                            <form action="" method="post">
                                @*<div class="layui-row layui-col-space15 layui-form-item" style="margin-top:-214px">
                                        <div class="layui-col-md3">
                                            <label class="layui-form-label">所在专栏</label>
                                            <div class="layui-input-block">
                                                <select lay-verify="required" name="class" lay-filter="column">
                                                    <option></option>
                                                    <option value="0">文章</option>
                                                    <option value="99">微语</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="layui-col-md9">
                                            <label for="L_title" class="layui-form-label">标题</label>
                                            <div class="layui-input-block">
                                                <input type="text" id="L_title" name="title" required lay-verify="required" autocomplete="off" class="layui-input">
                                            </div>
                                        </div>
                                    </div>*@
                                <div class="layui-upload" style="margin-top:-214px">
                                    <button type="button" class="layui-btn" id="uploadPhoto">上传照片</button>
                                    <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
                                        预览图：
                                        <div class="layui-upload-list" id="photoList"></div>
                                    </blockquote>
                                </div>
                                <div class="layui-form-item layui-form-text">
                                    <div class="layui-input-block">
                                        <textarea id="L_content" name="content" required lay-verify="required" placeholder="请输入微语内容" class="layui-textarea fly-editor" style="height: 260px;"></textarea>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <button class="layui-btn" lay-filter="publish" lay-submit>立即发布</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-wrap">
        <div class="footer w1000">
            <div class="qrcode">
                <img src="../res/img/erweima.jpg">
            </div>
            <div class="practice-mode">
                <img src="../res/img/down_img.jpg">
                <div class="text">
                    <h4 class="title">我的联系方式</h4>
                    <p>微信<span class="WeChat">1234567890</span></p>
                    <p>手机<span class="iphone">1234567890</span></p>
                    <p>邮箱<span class="email">1234567890@qq.com</span></p>
                </div>
            </div>
        </div>
    </div>

</body>
</html>