<!DOCTYPE html>
<head>
    <meta name="viewport" content="width = device-width" />
    <meta name="referrer" content="never">
    <title>微语</title>
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <link href="~/css/main.css?v=20192225" rel="stylesheet" />
</head>
<div class="content whisper-content">
    <div class="cont">
        <div class="whisper-list" id="whisper-list-id">
            <script type="text/html" id="whisper-item">
                {{# layui.each(d.list,function(index,item){}}
                <div class="item-box">
                    <div class="item">
                        <div class="whisper-title">
                            <i class="layui-icon layui-icon-username"></i> <span class="author">{{item.author}}</span><i class="layui-icon layui-icon-date"></i><span class="hour">{{item.date}}</span>
                        </div>
                        <p class="text-cont">
                            {{item.content}}
                        </p>

                        <div class="img-box" style="">
                            {{#  layui.each(item.photoPaths,function(j,path){ }}
                            <img style="width:219px;height:150px;" src="{{path}}">
                            {{#  });  }}
                        </div>

                        <div class="op-list">
                            <p class="like"><i class="layui-icon layui-icon-praise "></i><span>{{item.praise}}</span></p>
                            <p class="edit"><i class="layui-icon layui-icon-reply-fill"></i><span>{{item.reply}}</span></p>
                            <p class="off"><span>评论</span><i class="layui-icon layui-icon-down"></i></p>
                        </div>
                    </div>
                    <div class="review-version layui-hide">
                        <div class="form">
                            <img src="~/img/header2.png">
                            <form class="layui-form" action="">
                                <div class="layui-form-item layui-form-text">
                                    <div class="layui-input-block">
                                        <textarea name="desc" class="layui-textarea"></textarea>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-input-block" style="text-align: right;">
                                        <button class="layui-btn definite">確定</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        {{# layui.each(item.commentdatas,function(i,commentdata){}}
                        <div class="list-cont">
                            <div class="cont">
                                <div class="img">
                                    {{commentdata.userphotopath}}
                                </div>
                                <div class="text">
                                    <p class="tit"><span class="name">{{commentdata.commentuser}}</span><span class="data">{{commentdata.commentdate}}</span></p>
                                    <p class="ct">{{commentdata.commentcontent}}</p>
                                </div>
                            </div>
                        </div>
                        {{# }); }}
                    </div>
                </div>
                {{# }); }}
            </script>
        </div>
        <div id="page" style="text-align: center;"></div>
    </div>
</div>
<script type="text/html" id="laytplCont">
    <div class="cont">
        <div class="img">
            <img src="{{d.avatar}}" alt="">
        </div>
        <div class="text">
            <p class="tit"><span class="name">{{d.name}}</span><span class="data">2018/06/06</span></p>
            <p class="ct">{{d.cont}}</p>
        </div>
    </div>
</script>
<script src="~/js/jquery.js"></script>
<script src="~/layui/layui.js?v=123"></script>
<script src="~/js/blog/loadwhisper.js?v=1"></script>