<head>
    <link href="/style/layui/css/layui.css?201908072009" rel="stylesheet" />
    <link href="/style/css/main.css?v=201922262" rel="stylesheet" />
</head>

<body>
    <div class="review-content">
        <textarea lay-verify="content" class="layui-textarea"></textarea>
        <div style="text-align: center;margin-top:5px">
            <button class="layui-btn layui-btn-sm" lay-filter="publish" data-type="publish" lay-submit>留言</button>
        </div>
        <div class="review">
            <h3>留言</h3>
            <div class="review-list">
                <div class="text">
                    <div class="text-comment">
                        <p class="tit">
                            <span style="font-size: 11px;padding-left:10px;color: #777">1楼</span>
                            <span style="font-size: 11px;padding-left:3px">2020-06-09</span>
                            <a class="name" style="color: #ff7f21" href="javascript:;">admin：</a>
                            <span style="font-size: 11px;">@沾上干（2楼）</span>
                        </p>
                        <p class="p">
                            好人啊
                        </p>
                    </div>
                </div>
                <div class="text">
                    <div class="text-comment">
                        <p class="tit">
                            <span style="font-size: 11px;padding-left:10px;color: #777">1楼</span>
                            <span style="font-size: 11px;padding-left:3px">2020-06-09</span>
                            <a class="name" style="color: #ff7f21" href="javascript:;">admin：</a>
                            <span style="font-size: 11px;">@沾上干（2楼）</span>
                        </p>
                        <p class="p">
                            好人啊 好人啊 好人啊 好人啊 好人啊 好人啊 好人啊 好人啊 好人啊 好人啊 好人啊 好人啊 好人啊 好人啊
                            好人啊 好人啊 好人啊 好人啊 好人啊 好人啊 好人啊 好人啊 好人啊 好人啊 好人啊 好人啊 好人啊 好人啊
                            好人啊 好人啊 好人啊 好人啊 好人啊 好人啊 好人啊 好人啊
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>