<!DOCTYPE html>

<head>
    <meta name="viewport" content="width = device-width" />
    <meta name="referrer" content="never">
    <title>微语</title>
    <link rel="icon" href="/style/images/title.png">
    <link href="/style/layui/css/layui.css" rel="stylesheet" />
    <link href="/style/css/main.css?v=202005282241" rel="stylesheet" />
    <link href="/style/css/common.css?v=202005282241" rel="stylesheet" />
    <style>
        .layui-flow-more {
            margin: 39px 0;
            font-size: 13px
        }
        .layui-flow-more a cite {
            background-color: #009688;
            color: white;
        }
    </style>
</head>

<body>
    <div class="fixed-top">
        <iframe frameborder=0 width="100%" height="66px" scrolling=no marginwidth='0' marginheight='0'
            noresize="noresize" src="../master/top.html?i=2"></iframe>
    </div>
    <div class="content c-bg whisper-content">
        <div class="cont">
            <div class="block-left">
                <div class="block" style="min-height: 760px !important">
                    <div class="white-block">
                        <div class="tip">时间轴</div>
                        <ul class="layui-timeline" style="margin-top: 11px" id="time-axis"></ul>
                    </div>
                </div>
            </div>
            <div class="block-right">
                <div class="box h251">
                    <div class="calendar">
                        <div id="calendar"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <iframe id="iframe-footer" frameborder=0 width="100%" scrolling=no marginwidth='0' marginheight='0'
    noresize="noresize" src="../master/footer.html"></iframe>
    <script src="http://pv.sohu.com/cityjson?ie=utf-8"></script>
    <script src="/style/js/jquery.js"></script>
    <script src="/style/layui/layui.js?v=123"></script>
    <script src="/style//js/request.js"></script>
    <script src="/style/js/util.js??v=202005282241"></script>
    <script src="/style/js/whisper/whisper.js?v=202006290943"></script>
</body>