<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width = device-width" />
    <title>写一写</title>
    <link href="/style/layui/css/layui.css?201908072009" rel="stylesheet" />
    <link href="/style/css/main.css?v=201922262" rel="stylesheet" />
    <link href="/style/css/layout.css?v=201908072011" rel="stylesheet" />
    <link href="/style/css/common.css?v=201908072040" rel="stylesheet" />
    <link href="/style/css/global.css?v=1" rel="stylesheet" />
    <script src="/style/js/jquery.js"></script>
    <script src="/style/layui/layui.js?v=3"></script>
    <style>
        .layui-container {
            width: 1406px !important
        }

        .layui-layedit-tool .layui-colorpicker-xs {
            border: 0;
        }

        .layui-layedit-tool .layui-colorpicker-trigger-span i {
            display: none !important;
        }
        .main{
            width: 1170px;
    background-color: white;
    margin-left: 182px;
    height: 500px;
}
.left{
    background-color: antiquewhite;
    width: 20%;
    height: 500px;
    float: left;
}
.right{
    width: 78%;
    height: 500px; 
    float:right;
}
.user-profile{
    padding:  0 0 0 0 !important;
}
.layui-form-item{
    width: 385px
}
    </style>
</head>

<body class="add">
    <div class="add-header">
        <img style="margin: -20px 0 0 155px" src="/style/images/logo.png">
        <ul class="layui-nav layui-layout-right nav-right">
            <li class="layui-nav-item" lay-unselect="">
            </li>
        </ul>
    </div>
    <div class="main">
        <div class="left">

        </div>
        <div class="right">
                <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                        <ul class="layui-tab-title">
                          <li class="layui-this">基本资料</li>
                          <li>用户管理</li>
                          <li>权限分配</li>
                          <li>商品管理</li>
                          <li>订单管理</li>
                        </ul>
                        <div class="layui-tab-content" style="height: 100px;">
                          <div class="layui-tab-item layui-show">
                                <form class="layui-form layui-form-pane user-profile" action="">
                                        <div class="layui-form-item">
                                            <label class="layui-form-label">登录账号</label>
                                            <div class="layui-input-block">
                                                <input type="text" name="title" lay-verify="title" style="width: 277px !important" autocomplete="off"
                                                     class="layui-input">
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                                <label class="layui-form-label">昵称</label>
                                                <div class="layui-input-block">
                                                    <input type="text" name="title" lay-verify="title" style="width: 277px !important" autocomplete="off"
                                                         class="layui-input">
                                                </div>
                                            </div>
                                            <div class="layui-form-item" pane="">
                                                    <label class="layui-form-label">单选框</label>
                                                    <div class="layui-input-block">
                                                      <input type="radio" name="sex" value="男" title="男" checked="">
                                                      <input type="radio" name="sex" value="女" title="女">
                                                    </div>
                                                  </div>
                                                  <div class="layui-form-item">
                                                        <div class="layui-inline">
                                                          <label class="layui-form-label">日期选择</label>
                                                          <div class="layui-input-block">
                                                            <input type="text"  name="date" id="date"  autocomplete="off" class="layui-input layui-icon-date">
                                                          </div>
                                                        </div>
                                                  </div>
                                    </form>  
                            </div>
                          <div class="layui-tab-item">内容2</div>
                          <div class="layui-tab-item">内容3</div>
                          <div class="layui-tab-item">内容4</div>
                          <div class="layui-tab-item">内容5</div>
                        </div>
        </div>
    </div>
    <script src="/style/layui/layui.js"></script>
    <script src="/style/js/request.js"></script>
    <script>
        layui.use(['form','element','laydate'],function(){
            var form = layui.form
  ,laydate = layui.laydate;
  laydate.render({
    elem: '#date'
    ,theme: 'grid'
  });
        })
    </script>
</body>

</html>