<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width = device-width" />
    <title>写一写</title>
    <link href="/style/layui/css/layui.css?201908072009" rel="stylesheet" />
    <link href="/style/css/main.css?v=201922262" rel="stylesheet" />
    <link href="/style/css/layout.css?v=201908072011" rel="stylesheet" />
    <link href="/style/css/common.css?v=201908072040" rel="stylesheet" />
    <link href="/style/css/global.css?v=1" rel="stylesheet" />
    <style>
        .layui-container {
            width: 1406px !important
        }

        .layui-layedit-tool .layui-colorpicker-xs {
            border: 0;
        }

        .layui-layedit-tool .layui-colorpicker-trigger-span i {
            display: none !important;
        }
    </style>
</head>

<body class="marginTop">
    <div class="fly-header layui-bg-black">
        <div class="layui-header">
            <img style="margin: -20px 0 0 155px" src="/style/images/logo.png">
            <div class="header-menu">
                <div class="nav">
                    <a href="../home/index?pagepath=article">文章</a>
                    <a href="javascript:;">微语</a>
                    <a href="about.html">关于</a>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-container fly-marginTop" style="padding-top: 33px;">
        <div class="fly-panel" pad20 style="padding-top: 5px;">
            <div class="layui-form layui-form-pane">
                <div class="layui-tab layui-tab-brief" lay-filter="user">
                    <ul class="layui-tab-title">
                        <li class="layui-this">发表文章</li>
                        <li> <button type="button" class="layui-btn-primary layui-btn" data-method="notice"
                                data-type="content">预览</button></li>
                    </ul>

                    <div class="layui-form layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
                        <div class="layui-tab-item layui-show">
                            <form action="" class="layui-form" lay-filter="articleInfo">
                                <div class="layui-row layui-col-space15" style="margin-top:-214px">
                                    <div class="layui-col-md3">
                                        <label class="layui-form-label">所在专栏</label>
                                        <div class="layui-input-block">
                                            <select id="selecttype" lay-verify="articletype" name="type"
                                                lay-filter="column">
                                                <option>...</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="layui-col-md9">
                                        <label for="L_title" class="layui-form-label">标题</label>
                                        <div class="layui-input-block">
                                            <input type="text" id="L_title" name="title" required lay-verify="required"
                                                autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-form-text">
                                    <div class="layui-input-block">
                                        <textarea id="L_content" name="content" lay-verify="content" placeholder="写一写"
                                            class="layui-textarea"></textarea>
                                    </div>
                                </div>
                                <div class="add-chechbox">
                                    <input type="checkbox" name="" title="有人评论时邮箱通知我" lay-skin="primary" checked>
                                </div>
                                <div class="layui-form-item">
                                    <button class="layui-btn" lay-filter="save" data-type="save"
                                        lay-submit>存为草稿</button>
                                    <button class="layui-btn" lay-filter="publish" data-type="publish"
                                        lay-submit>立即发布</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/style/js/jquery.js"></script>
    <script src="/style/layui/layui.js"></script>
    <script src="/style/js/util.js"></script>
    <script src="/style/js/request.js?v=20112171144"></script>
    <script src="/style/js/article/add.js"></script>
</body>

</html>