<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width = device-width" />
    <title>加载中...</title>
    <link rel="icon" href="/style/images/title.png">
    <link href="/style/layui/css/layui.css?201908072009" rel="stylesheet" />
    <link href="/style/css/main.css?v=201922262" rel="stylesheet" />
    <link href="/style/css/common.css?v=201908072040" rel="stylesheet" />
    <link href="/style/css/loading.css" rel="stylesheet" />
    <style>
        .block-right {
            margin-top: 0 !important;
            background: white;
            width: 886px;
            padding-right: 20px;
            padding-left: 16px;
        }
    </style>
</head>

<body>
    <div class="fixed-top">
        <iframe id="console" frameborder=0 width="100%" height="66px" scrolling=no marginwidth='0' marginheight='0'
            noresize="noresize" src="../master/top.html"></iframe>
    </div>
    <div class="user-home c-bg content a-href">
        <div class="cont">
            <div class="block-left" style="min-height: 760px !important;width: 257px;background: white;">
                <div class="home">
                    <div class="layui-tab-content">
                        <div class="layui-tab-item layui-show">
                            <fieldset class="layui-elem-field">
                                <legend style="margin-left: 28% !important"><img src="/style/images/touxiang.jpg">
                                </legend>
                                <ul class="archive" id="article-file">
                                </ul>
                            </fieldset>

                        </div>
                    </div>
                </div>
            </div>
            <div class="block-right">
                <div class="layui-tab layui-tab-brief">
                    <ul class="layui-tab-title">
                        <li class="layui-this" lay-id="0">散文礼记</li>
                    </ul>
                </div>
                <div class="list-item box-left">
                    <div id="pageLoading"></div>
                    <!--输出的视图-->
                    <div id="article-item-id"></div>
                    <div id="page" style="text-align: center;"></div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <iframe id="iframe-footer" frameborder=0 width="100%" scrolling=no marginwidth='0' marginheight='0'
        noresize="noresize" src="../master/footer.html"></iframe>
    <!--渲染的模板-->
    <script type="text/html" id="article-item-script">
        {{# layui.each(d.list,function(index,item){}}
        <div class="item">
            <div class="layui-fluid">
                <div class="layui-row">
                    <div class="">
                        <div class="item-cont item-title">
                            <h3><a target="_blank"
                                    href="../article/detail.html?id={{item.id}}&t={{item.articleType}}">{{item.title}}</a>
                                <button class="layui-btn new-icon w62"
                                    style="background-color:#01AAED !important">{{item.articleType}}</button></h3>
                            <p><a target="_blank"
                                    href="../article/detail.html?id={{item.id}}&t={{item.articleType}}">{{item.textSection}}</a>
                            </p>
                            <div class="item-f">
                                <div class="author"><a target="_blank" href="">{{item.author}}</a></div>
                                <div class="date">{{item.createTime}}</div>
                                <div class="comment">
                                    <a target="_blank"
                                        href="../article/detail.html?id={{item.id}}&t={{item.articleType}}&c=c">
                                        <i class="layui-icon layui-icon-reply-fill"
                                            style="font-size: 12px !important;color: #999 !important">评论({{item.commentCount}})</i></a>
                                </div>
                                <div class="read">
                                    <i class="layui-icon layui-icon-read"
                                        style="font-size: 12px !important;line-height:1px"><span>阅读({{item.browserCount}})</span></i>
                                </div>
                                <div class="praise">
                                    <i class="layui-icon layui-icon-praise" style="font-size: 13px !important;"
                                        onclick="praise(this.id)" id="{{item.id}}">
                                        <span>点赞({{item.praiseCount}})</span></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="bor item-bottom" />
        {{# }); }}
    </script>
    <script type="text/html" id="article-file-script">
            {{# layui.each(d.list,function(index,item){}}
            <li><a href="javascript:;" onclick="changeType({{item.articleType}})">{{item.articleTypeName}}（{{item.total}}）</a></li>
            {{# });}}
        </script>
    <script src="http://pv.sohu.com/cityjson?ie=utf-8"></script>
    <script src="/style/js/jquery.js"></script>
    <script src="/style/layui/layui.js"></script>
    <script src="/style/js/request.js"></script>
    <script src="/style/js/util.js"></script>
    <script src="/style/js/article/archive.js"></script>
</body>

</html>