<!DOCTYPE html>

<head>
    <meta name="viewport" content="width = device-width" />
    <meta name="referrer" content="never">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>文章</title>
    <link rel="icon" href="/style/images/title.png">
    <link href="/style/layui/css/layui.css" rel="stylesheet" />
    <link href="/style/css/main.css?v=202005282241" rel="stylesheet" />
    <link href="/style/css/common.css?v=202009091143" rel="stylesheet" />
    <style>
        .layui-layer-loading {top: 233px !important;left: 500.5px !important;}
        #toTop:focus {color: transparent;}
        .loading {height: 57px;}
         input::placeholder {font-size: 12px;font-family: Arial;letter-spacing: 5px;color: #ddd !important;text-align: center;}
    </style>
</head>

<body>
    <div class="content c-bg">
        <div class="cont">
            <div class="block-left">
                <div class="block" style="min-height: 760px !important">
                    <div class="white-block">
                        <div class="op">
                            <span><input class="layui-input" id="fullText" placeholder="至少输入两个字符" type="text">
                                <button class="layui-btn search" title="搜索" onclick="search()"><i
                                        class="layui-icon">&#xe615;</i></button>
                                <a href="../article/add.html" target="_blank" class="layui-btn" title="写一写"><i
                                        class="layui-icon">&#xe642;</i></a>
                            </span>
                        </div>
                        <div class="layui-tab layui-tab-brief" id="tab" lay-filter="tab-article">
                            <ul class="layui-tab-title">
                                <li class="layui-this" lay-id="0">全部</li>
                                <li lay-id="1">散文礼记</li>
                                <li lay-id="2">韶华追忆</li>
                                <li lay-id="3">编程世界</li>
                                <li lay-id="4">娱乐竞技</li>
                                <li lay-id="5">趣味百态</li>
                            </ul>
                        </div>
                        <div class="list-item box-left">
                            <div id="pageLoading"></div>
                            <!--输出的视图-->
                            <div id="article-item-id"></div>
                            <div id="page" style="text-align: center;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block-right">
                <div class="box h251">
                    <div class="box-title">
                        <h3>热门推荐<input type="text" id="toTop"></h3>
                    </div>
                    <!--输出的视图-->
                    <ul class="li-item" id="hot-li-item">
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--渲染的模板-->
    <script type="text/html" id="hot-item-script">
    {{# layui.each(d.list,function(index,item){}}
    <li> <a target="_blank" href="../article/detail.html?id={{item.id}}&t={{item.articleType}}">{{item.title}}</a>
    </li>
    {{# }); }}
</script>
    <script type="text/html" id="article-item-script">
    {{# layui.each(d.list,function(index,item){}}
    <div class="item">
        <div class="layui-fluid">
            <div class="layui-row">
                <div class="">
                    <div class="item-cont item-title">
                        <h3><a target="_blank"
                                href="../article/detail.html?id={{item.id}}">{{item.title}}</a>
                            <button class="layui-btn new-icon w62"
                                style="background-color:#01AAED !important">{{item.articleType}}</button></h3>
                        <p><a target="_blank"
                                href="../article/detail.html?id={{item.id}}">{{item.textSection}}</a>
                        </p>
                        <div class="item-f">
                            <div class="author"><a target="_blank"
                                    href="../user/user-home.html?account={{item.authorAccount}}">{{item.author}}</a></div>
                            <div class="date">{{item.createTime}}</div>
                            <div class="comment">
                                <a target="_blank"
                                    href="../article/detail.html?id={{item.id}}&t={{item.articleType}}&c=c">
                                    <i class="layui-icon layui-icon-reply-fill"
                                        style="font-size: 12px !important;color: #999 !important">留言({{item.commentCount}})</i></a>
                            </div>
                            <div class="read">
                                <i class="layui-icon layui-icon-read"
                                    style="font-size: 12px !important;line-height:1px"><span>阅读({{item.browserCount}})</span></i>
                            </div>
                            <div class="praise">
                                <i class="layui-icon layui-icon-praise" style="font-size: 13px !important;"
                                    onclick="praise(this.id)" id="{{item.id}}">
                                    <span>点赞({{item.praiseCount}})</span></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="bor item-bottom" />
    {{# }); }}
</script>
    <script src="/style/js/jquery.js"></script>
    <script src="/style/layui/layui.js?v=202005271028"></script>
    <script src="/style/js/request.js?v=202007082057"></script>
    <script src="/style/js/util.js?v=202009091143"></script>
    <script src="/style/js/article/index.js?v=202005282241"></script>
</body>