<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>正在加载中...</title>
    <link href="/style/layui/css/layui.css" rel="stylesheet" />
    <link href="/style/css/main.css?v=201908282045" rel="stylesheet" />
    <style>
        #detail blockquote {
            position: inherit !important;
        }

        #detail pre {
            position: inherit !important;
        }

        .btn-box a {
            border: none;
            color: #009688;
        }

        .btn-box a:hover {
            color: #009688;
        }

        .volume {
            border-bottom: 1px solid #ddd;
            font-size: 14px;
            font-weight: bold;
            margin: 20px 0 10px;
        }
    </style>
</head>
<div class="fly-header layui-bg-black" style="position: fixed;top: 0;">
    <div class="layui-header">
        <img style="margin: -20px 0 0 155px" src="/style/images/logo.png">
        <div class="header-menu">
            <div class="nav">
                <a href="../home/index?pagepath=article">文章</a>
                <a href="javascript:;">微语</a>
                <a href="about.html">关于</a>
            </div>
        </div>
    </div>
</div>
<div class="content whisper-content leacots-content details-content">
    <div style="width: 1198px;margin-left: 195px;margin-top: 40px;">
        <div class="review-version">
            <div class="form-box">
                <div class="article-cont" id="detail">
                    <script type="text/html" id="buildview">
                        <div class="title">
                            <h3>{{d.title}}</h3>
                            <p class="cont-info" style="font-size:13px;color: #808080 !important;border-bottom:1px solid #ddd" >
                                作者：<a class="author" href="">{{d.author}}</a>
                                时间：<span class="data">{{d.createtime}}</span>
                                类别：<span class="types">{{d.articletype}}</span>
                            </p>
                        </div>
                        {{d.content}}
                    </script>
                </div>
                <div class="btn-box" style="text-align:center;padding-top: 50px;">
                </div>
            </div>
            <hr style="border:none;border-top:1px dotted #ddd;background-color: #fff" />
            <div class="comment">
                <form class="layui-form" action="">
                    <div class="form">
                        <div class="layui-form-item layui-form-text">
                            <div class="layui-input-block">
                                <div class="b" style="border-radius:3px">
                                    <textarea  id="desc" lay-verify="required" placeholder="既然来了，就说几句。。。"
                                        class="layui-textarea"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block" style="text-align: right;">
                            <button class="layui-btn definite" id="r" lay-submit="" lay-filter="review">留言</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="volume">
                全部评论（）
            </div>
            <div class="list-cont">

                <div class="cont" id="comment-item">
                    <script type="text/html" id="buildComment">
                        {{# layui.each(d.list,function(index,item){}}
                        <div class="text">
                                <div style="width: 1175px;padding-left:12px">
                                    <p class="tit">
                                         <a class="name" style="color: #ff7f21" href="javascript:;">{{item.postUsername}}</a>
                                        <span style="font-size: 13px;padding-left:10px">{{item.postDate}}</span>
                                    </p>
                                    <p class="ct">
                                        {{item.content}}
                                    </p>
                                    <p style="line-height: 23px;float: right;" class="reply">
                                        <input type="hidden" name="username" value="">
                                        <input type="hidden" name="guid" value="{{item.guid}}">
                                        <a href="javascript:;"><i class="layui-icon layui-icon-reply-fill"
                                                style="font-size: 13px !important;color: #808080 !important">回复</i></a>
                                    </p>
                                </div>
                            </div>
                            <hr style="border:none;border-top:1px dotted #ddd;background-color: #fff" />
                        {{# });}}
                        </script>
                </div>
                <div id="page" style="text-align: center;"></div>
            </div>
        </div>
    </div>
</div>
</div>
<script src="/style/layui/layui.js"></script>
<script src="/style/js/util.js?v=201908281635"></script>
<script src="/style/js/jquery.js"></script>
<script src="/style/js/signalr.js"></script>
<script src="/style/js/request.js?v=20112171144"></script>
<script src="/style/js/article/detail.js"></script>