<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>正在加载中...</title>
    <link rel="icon" href="/style/images/title.png">
    <link href="/style/layui/css/layui.css" rel="stylesheet" />
    <link href="/style/css/main.css?v=202007291611" rel="stylesheet" />
    <link href="/style/css/common.css?v=202007091520" rel="stylesheet" />
    <style>
        #detail blockquote {position: inherit !important;}
        #detail pre {position: inherit !important;margin: 10px 0;padding: 15px;line-height: 20px;border: 1px solid #ddd;border-left-width: 6px;background-color: #F2F2F2;color: #333;font-family: Courier New;font-size: 12px;}
        .btn-box a {border: none;color: #009688;}
        .btn-box a:hover {color: #009688;}
        .volume {border-bottom: 1px solid #ddd;font-size: 14px;font-weight: bold;margin: 20px 0 10px;}
        ul {line-height: 27px;margin-left: 18px;}
        .archive li {list-style: inside;font-size: 13px;font-weight: 600;}
        #comment:focus {border: 1px solid #009688 !important;}
        #comment:hover {border: 1px solid #009688 !important;}
        .left-a{opacity: 1 !important;margin: 0 0 !important;margin-left: 35px !important;}
        .content {padding: 46px  0 60px 0 !important;}
        #detail img{max-width: 100% !important;}
        #detail span .cke_widget_drag_handler{display: none;}
        #detail a{color:#009688 !important}
    </style>
</head>

<body>
    <div class="fly-header layui-bg-black">
        <div class="layui-header" style="height: 43px;">
            <div class="header-menu" style="font-size: 14px;margin-top:12px;">
                <div class="nav">
                    <a href="../home/index.html?i=0" class="left-a"  id="square" target="_top">首页广场</a>
                    <a href="../home/index.html?i=1" class="left-a" id="article" target="_top">文章随笔</a>
                    <a href="../home/index.html?i=2" class="left-a" id="whisper" target="_top">时间微语</a>
                    <a href="../home/index.html?i=3" class="left-a" id="video" target="_top">视频分享</a>
                </div>
            </div>
        </div>
    </div>
    <div class="content c-bg detail-content a-href">
        <div class="cont">
            <div class="block-left block">
                <div class="review-version white-block">
                    <div class="form-box">
                        <div class="article-cont" id="detail">
                            <div id="detailLoading"></div>
                            <script type="text/html" id="buildview">
                                <div class="title">
                                    <h3>{{d.title}}</h3>
                                    <p class="cont-info" style="">
                                        作者：<a class="author" style="color:#00a67c"
                                            href="../user/user-home.html?account={{d.authorAccount}}"
                                            target='_blank'>{{d.author}}</a>
                                        时间：<span class="data">{{d.createtime}}</span>
                                        类别：<span class="types">{{d.articletype}}</span>
                                    </p>
                                </div>
                                <div>{{d.content}}</div>
                            </script>
                        </div>
                        <div class="btn-box">
                        </div>
                    </div>
                    <hr />
                    <div class="comment">
                        <div class="form">
                            <div class="layui-form-item layui-form-text">
                                <div class="layui-input-block">
                                    <div class="b" style="border-radius:3px">
                                        <textarea id="comment" placeholder="既然来了，就说几句。。。"
                                            class="layui-textarea"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block" style="text-align: center;">
                                <button class="layui-btn" onclick="review()">留言</button>
                            </div>
                        </div>
                    </div>
                    <div class="volume">
                        全部评论（）
                    </div>
                    <div class="list-cont">

                        <div id="comment-item">
                            <script type="text/html" id="buildComment">
                                {{# layui.each(d.list,function(index,item){}}
                                <div class="text">
                                    <div class="text-comment">
                                        <p class="tit">
                                            <a class="name" style="color: #ff7f21"
                                                href="javascript:;">{{item.postUsername}}</a>
                                            <span style="font-size: 13px;padding-left:10px">{{item.postDate}}</span>
                                        </p>
                                        {{#  if(item.commentType=='3'){ }}
                                        <p class="p using">@{{item.revicerName}}：{{item.usingContent}}</p>
                                        {{#  } }}
                                        <p class="p">
                                            {{item.content}}
                                        </p>
                                        <p style="line-height: 23px;float: right;" class="reply">
                                            <a href="javascript:;"
                                                onclick="openDv('{{index}}','{{item.postUser}}')">
                                                <i class="layui-icon layui-icon-reply-fill">回复</i>
                                            </a>
                                            <div id="{{index}}_{{item.postUser}}" class="div-reply" style="display:none">
                                                <textarea id="txt_{{index}}_{{item.postUser}}" class="layui-textarea"></textarea>
                                                <div style="text-align:center">
                                                <button onclick="reviewTo('{{item.postUser}}','{{item.guid}}','{{index}}')" type="button" class="layui-btn layui-btn-xs" style="background-color:#d0844d !important">回复</button>
                                                <button onclick="cancle('{{index}}','{{item.postUser}}')" type="button" class="layui-btn layui-btn-xs" style="background-color:#d0844d !important">取消</button>
                                                </div>
                                            </div>
                                        </p>
                                    </div>
                                </div>
                                {{# });}}
                            </script>
                        </div>
                        <div id="page" style="text-align: center;"></div>
                    </div>
                </div>
            </div>
            <div class="block-right">
                <div class="box h251">
                    <fieldset class="layui-elem-field">
                        <legend><img id="touxiang"></legend>
                        <div class="layui-field-box">
                            <div class="name" id="authorName"></div>
                            <ul class="archive" id="article-file">
                            </ul>
                            <!--输出的视图-->
                            <ul class="a-li" id="li-article">
                                <div id="liLoading"></div>
                            </ul>
                        </div>
                    </fieldset>
                </div>

            </div>
        </div>
    </div>
    <iframe id="iframe-footer" frameborder=0 width="100%" scrolling=no marginwidth='0' marginheight='0'
        noresize="noresize" src="../master/footer.html"></iframe>
    <script type="text/html" id="li-article-script">
        {{#layui.each(d.list,function(index,item){}}
        <li><button class="layui-btn new-icon w62">{{item.createTime}}</button><a target="_blank"
                href="../article/detail.html?id={{item.id}}">{{item.title}}</a></li>
        {{# }); }}
    </script>
    <script type="text/html" id="li-article-file-script">
        {{#layui.each(d.list,function(index,item){}}
        <li><a href="../article/archive.html?account={{item.account}}&type={{item.articleType}}" target="_blank">{{item.articleTypeName}}（{{item.total}}）</a></li>
        {{# }); }}
    </script>
    <script src="/style/layui/layui.js"></script>
    <script src="/style/js/jquery.js"></script>
    <script src="/style/js/util.js?v=201908281635"></script>
    <script src="/style/js/request.js?v=202007082057"></script>
    <script src="/style/js/article/detail.js?202009091409"></script>
</body>

</html>