<!DOCTYPE html>

<head>
    <meta name="viewport" content="width = device-width" />
    <meta name="referrer" content="never">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>微语</title>
    <link href="/style/layui/css/layui.css" rel="stylesheet" />
    <link href="/style/css/main.css?v=201908282045" rel="stylesheet" />
    <link href="/style/css/common.css?v=201909031058" rel="stylesheet" />
</head>
<div class="content">
    <div class="cont h1370">
        <div class="title">
            <span class="layui-breadcrumb title-type" lay-separator="|">
                <a href="javaScript:;" class="active">全部</a>
                <a href="javascript:;">散文礼记</a>
                <a href="javascript:;">编程世界</a>
                <a href="javascript:;">旅游杂记</a>
                <a href="javascript:;">游戏人生</a>
            </span>
            <div class="layui-input-inline search">
                <input type="search" name="keyword" autocomplete="off" class="layui-input" placeholder="输入完后按回车" />
                <i class="layui-icon layui-icon-search"></i>
            </div>
            <a href="../article/addarticle" target="_blank" class="layui-btn"
                style="color:white !important;font-size:14px !important">写一写</a>
        </div>
        <hr class="bor" />
        <div class="list-item box-left">
            <div id="article-item-id">
                <script type="text/html" id="article-item">
                    {{# layui.each(d.list,function(index,item){}}
                    <div class="item">
                        <div class="layui-fluid">
                            <div class="layui-row">
                                <div class="layui-col-xs12 layui-col-sm8 layui-col-md7">
                                    <div class="item-cont item-title">
                                        <h3><a target="_blank" href="../article/detail?id={{item.id}}">{{item.title}}</a> <button class="layui-btn layui-btn-danger new-icon">new</button><button class="layui-btn new-icon w62">{{item.articleType}}</button></h3>

                                        <p><a target="_blank" href="../article/detail?id={{item.id}}">{{item.textSection}}</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="bor item-bottom" />
                    {{# }); }}
                </script>
            </div>
            <div id="page" style="text-align: center;"></div>
        </div>
        <div class="box-right">
            <div class="box h251">
                <div class="box-title">
                    <h3>热门推荐</h3>
                </div>
                <ul class="li-item">
                    <li> <a href="">正是个好文章</a></li>
                    <li> <a href="">hijklmn</a></li>
                    <li> <a href="">opq</a></li>
                    <li> <a href="">正是个好文章</a></li>
                    <li> <a href="">正是个好文章</a></li>
                    <li> <a href="">1</a></li>
                </ul>
            </div>

            <div class="box hot">
                <div class="box-title">
                    <h3>热门推荐</h3>
                </div>
                <div class="layui-tab layui-tab-card" lay-filter="test" style="margin-top:-1px">
                    <ul class="layui-tab-title">
                        <li class="layui-this" lay-id="day">一日内</li>
                        <li lay-id="week">一周内</li>
                        <li lay-id="month">一月内</li>
                    </ul>
                    <div class="layui-tab-content" style="padding:0px !important">
                        <div class="layui-tab-item layui-show">
                            点击该Tab的任一标题，观察地址栏变化，再刷新页面。选项卡将会自动定位到上一次切换的项
                        </div>
                        <div class="layui-tab-item">
                            <ul class="li-item-hot">
                                <li> <a href="">正是个好文章</a></li>
                                <li> <a href="">hijklmn</a></li>
                                <li> <a href="">opq</a></li>
                                <li> <a href="">正是个好文章</a></li>
                                <li> <a href="">正是个好文章</a></li>
                            </ul>
                        </div>
                        <div class="layui-tab-item">内容3</div>
                        <div class="layui-tab-item">内容4</div>
                    </div>
                </div>
            </div>

            <div class="box h155">
                <div class="box-title">
                    <h3>推荐网址</h3>
                </div>
                <a href="https://www.cnblogs.com/" target="_blank">
                    <span class="label color2">博客园</span>
                </a>
                <a href="https://www.layui.com/" target="_blank">
                    <span class="label color3">layui</span>
                </a>
                <a href="https://www.oschina.net/" target="_blank">
                    <span class="label color4">开源中国</span>
                </a>
                <a href="https://github.com/Hansdas/surging" target="_blank">
                    <span class="label color1">微服务之surging</span>
                </a>
                <a href="https://www.gamersky.com/" target="_blank">
                    <span class="label color3">游民星空</span>
                </a>
                <a href="https://www.runoob.com/" target="_blank">
                    <span class="label color2">菜鸟教程</span>
                </a>
                <a href="http://www.5173.com/?recommenduserid=US15061749098191-04F6" target="_blank">
                    <span class="label color1">5173</span>
                </a>
            </div>

        </div>
    </div>
</div>
<script src="/style/js/jquery.js"></script>
<script src="/style/layui/layui.js?v=123"></script>
<script src="/style/js/request.js"></script>
<script type="text/javascript">
    var articletype = '';
    layui.config({
        base: '/style/js/'
    }).use(['element', 'laypage', 'form', 'jquery', 'menu', 'laytpl'], function () {
        element = layui.element, laypage = layui.laypage, $ = layui.$, menu = layui.menu, laytpl = layui.laytpl, form = layui.form;
        menu.init();
        var total =loadtotal(articletype);
        var article = document.getElementById('article-item').innerHTML;
        laypage.render({
            elem: 'page'
            , count: total
            , jump: function (obj) {
                var index = layer.load(3);
                var pageSize = obj.limit;
                var pageIndex = obj.curr;
                loadarticle(pageIndex, pageSize, article, index, articletype);
            },

        });
    })
    function loadtotal(articletype) {
        var total =requestajax('article/loadtotal','get','text') ;
        // var apiurl = "https://127.0.0.1:5001/blogh/article/loadtotal";
        // $.ajax({
        //     url: apiurl,
        //     type: "get",
        //     data: {
        //         'articletype': articletype
        //     },
        //     async:false,
        //     success: function (response) {
        //         total = response;
        //     },
        //     error: function (response) {
        //         total = 0;
        //     }
        // });
        return total;
    }
    function loadarticle(pageIndex, pageSize, article, index, articletype) {
        $.ajax({
            url: 'https://127.0.0.1:5001/blogh/article/loadarticle',
            type: 'get',
            data: {
                'pageIndex': pageIndex,
                'pageSize': pageSize,
                'articletype': articletype
            },
            datatype: 'json',
            async:false,
            success: function (response) {
                var data = { 'list': response.data };
                articleview = document.getElementById('article-item-id');
                laytpl(article).render(data, function (html) {
                    articleview.innerHTML = html;
                });
                layer.close(index)
            },
            error: function () {
                layer.close(index)
                layer.msg('响应服务器失败', { icon: 7 });
            }
        });
    }
    $(function () {
        var article = document.getElementById('article-item').innerHTML;
        $('.title-type a').click(function () {
            $('.title-type a').each(function () {
                $(this).removeClass('active');
            });
            var thisItem = $(this)[0];
            $(this).addClass('active');
            if (thisItem.innerText == '散文礼记') {
                articletype = '1';
            }
            if (thisItem.innerText == '编程世界') {
                articletype = '2';
            }
            if (thisItem.innerText == '旅游杂记') {
                articletype = '3';
            }
            if (thisItem.innerText == '游戏人生') {
                articletype = '4';
            }
            loadarticle(1, 10, article, index, articletype);
        });
    });
</script>