<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width = device-width" />
    <title>登录</title>
    <link rel="icon" href="/style/images/title.png">
    <link href="/style/layui/css/layui.css" rel="stylesheet" />
    <link href="/style/css/login.css?v=202007170931" rel="stylesheet" />
</head>
<body>
    <div class="cb-login">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>登录</h3>
            </div>
            <div class="panel-body">
                <form method="post" class="layui-form">
                    <div class="form-group">
                        <input type="text" class="form-control" name="Account" lay-verify="required" autocomplete="off" placeholder="请输入账号" value="">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="Password" lay-verify="required" autocomplete="off" placeholder="请输入密码" value="">
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" name="is_remember_pass" lay-ignore> 记住密码</label>
                        <a href="" class="pull-right text-danger">忘记密码？</a>
                    </div>
                    <button type="button" class="btn btn-primary btn-block" lay-submit="" lay-filter="login">登录</button>
                    <div class="checkbox">
                        <span>还没有帐号？<a href="register.html" class="text-danger">马上注册</a></span>
                    </div>
                    <hr>
                    <img src="/style/images/login-tip.png">
                </form>
                <div style="height: 45px;">
                    <span class="text-muted">其他登录方式</span>
                    <span class="other-login">
                        <a href="javascript:;" onclick="qqLogin()"><img src="/style/images/other_qq.png" class="img-circle"></a>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <script src="http://pv.sohu.com/cityjson?ie=utf-8"></script>
    <script src="/style/js/jquery.js"></script>
    <script src="/style/layui/layui.js"></script>
    <script src="/style/js/request.js?v=202007082057"></script>
    <script src="/style/js/login.js?v=202009081550"></script>
</body>
</html>