<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width = device-width" />
    <title>登录</title>
    <link rel="icon" href="/style/images/title.png">
</head>

<body>
    <!-- <script type="text/javascript" charset="utf-8" src="http://connect.qq.com/qc_jssdk.js" data-appid="101888317"
        data-redirecturi="http://www.ttblog.site/home/square.html"></script>
    <span id="qqLoginBtn"></span>
    <script type="text/javascript">
        QC.Login({
            btnId: "qqLoginBtn"	//插入按钮的节点id
        });
    </script> -->
    <div>
        <div>
            qq账号：<input type="text">
        </div>
        <div>
            qq密码：<input type="password">
        </div>
        <div>
            <input type="button" value="QQ登录">
        </div>
    </div>
</body>

</html>