<!DOCTYPE html>

<head>
    <meta name="viewport" content="width = device-width" />
    <meta name="referrer" content="never">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>视频加载中...</title>
    <link rel="icon" href="/style/images/title.png">
    <link href="/style/layui/css/layui.css" rel="stylesheet" />
    <link href="/style/css/main.css?v=202007291611" rel="stylesheet" />
    <link href="/style/css/common.css?v=202007091520" rel="stylesheet" />
    <link href="/style/css/loading.css" rel="stylesheet" />
    <style>
        .left-a{
            opacity: 1 !important;
            margin: 0 0 !important;
            margin-left: 35px !important;
        }
        .content {
            padding: 46px  0 60px 0 !important;
        }
    </style>
</head>

<div class="fly-header layui-bg-black">
    <div class="layui-header" style="height: 43px;">
        <div class="header-menu" style="font-size: 14px;margin-top:12px;">
            <div class="nav">
                <a href="../home/index.html?i=0" class="left-a"  id="square" target="_top">首页广场</a>
                <a href="../home/index.html?i=1" class="left-a" id="article" target="_top">文章随笔</a>
                <a href="../home/index.html?i=2" class="left-a" id="whisper" target="_top">时间微语</a>
                <a href="../home/index.html?i=3" class="left-a" id="video" target="_top">视频分享</a>
            </div>
        </div>
    </div>
</div>
<div class="content c-bg video">
    <div class="cont">
        <div class="v-bg" id="video-html">
        </div>
    </div>
</div>
<iframe id="iframe-footer" frameborder=0 width="100%" scrolling=no marginwidth='0' marginheight='0' noresize="noresize"
    src="../master/footer.html"></iframe>
<!--渲染的模板-->
<script type="text/html" id="script-video">
    <div style="display: flex;padding: 10px;">
        <div>
            <video style="height: 455px;" controls="controls" src="{{d.url}}"> </video>
        </div>
        <div style="margin-left: 70px;">
            <fieldset class="layui-elem-field" style="border-radius: 8px;width: 339px;">
                <legend>视频信息</legend>
                <div class="layui-field-box">
                    <table>
                        <tr>
                            <td>作者：</td>
                            <td>{{d.author}}</td>
                        </tr>
                        <tr>
                            <td>描述：</td>
                            <td>{{d.description}}</td>
                        </tr>
                        <tr>
                            <td>标签：</td>
                            <td>{{d.lable}}</td>
                        </tr>
                        <tr>
                            <td>时间：</td>
                            <td>{{d.createTime}}</td>
                        </tr>
                        <tr>
                            <td>观看次数：</td>
                            <td>{{d.watchCount}}</td>
                        </tr>
                    </table>
                </div>
            </fieldset>
        </div>
    </div>
</script>
<script src="/style/js/jquery.js"></script>
<script src="/style/layui/layui.js?v=202005271028"></script>
<script src="/style/js/request.js?v=202011260912"></script>
<script src="/style/js/util.js?v=202005282241"></script>
<script>
    layui.use(['upload', 'jquery', 'layer', 'laytpl'], function () {
        $ = layui.$,
            layer = layui.layer,
            element = layui.element,
            laytpl = layui.laytpl;
         var id = getSearchString('id');
        $.ajax({
            url: url + 'video/'+id,
            type: 'get',
            datatype: 'json',
            success: function (response) {
                $('title').html(response.data.description);
                var data = {
                    'url':response.data.url,
                    'author':response.data.author,
                    'description':response.data.description,
                    'lable':response.data.lable,
                    'createTime':response.data.createTime,
                    'watchCount':response.data.watchCount
                 };
                    var view = document.getElementById("video-html");
                    var script = document.getElementById('script-video').innerHTML;
                    laytpl(script).render(data, function (html) {
                        view.innerHTML = html;
                    });
            },
        });
    });
</script>