<!DOCTYPE html>

<head>
    <meta name="viewport" content="width = device-width" />
    <meta name="referrer" content="never">
    <title>微语</title>
    <link href="/style/layui/css/layui.css" rel="stylesheet" />
    <link href="/style/css/main.css?v=20192225" rel="stylesheet" />
    <link href="/style/css/common.css?v=202005271028" rel="stylesheet" />
    <style>
    </style>
</head>

<body>
    <div class="fixed-top">
        <iframe frameborder=0 width="100%" height="66px" scrolling=no marginwidth='0' marginheight='0'
            noresize="noresize" src="../master/top.html"></iframe>
    </div>
    <div class="content c-bg about-content">
        <div class="cont">
            <div class="block-left">
                <div class="block" style="min-height: 760px !important;width: 1189px !important">
                    <div class="layui-collapse" lay-filter="test">
                        <div class="layui-colla-item">
                            <h2 class="layui-colla-title">关于本站</h2>
                            <div class="layui-colla-content layui-show">
                                <div class="bg">
                                    <div class="bg-li">
                                        <p class="p-title">名称：</p>
                                        <p class="p-content">天天博客</p>
                                    </div>
                                    <div class="bg-li">
                                        <p class="p-title">网址：</p>
                                        <p class="p-content">网址：http://www.ttblog.site</p>
                                    </div>
                                    <div class="bg-li">
                                        <p class="p-title">描述：</p>
                                        <p class="p-content">一个写博客，记录心情的站点。目前处于建设阶段，将会完善和新增更丰富的功能。</p>
                                    </div>
                                    <div class="bg-li">
                                        <p class="p-title">背景：</p>
                                        <p class="p-content">一只后端程序猿搭建的博客网站。每天5:30下班回家，无所事事，于是便倚着学习的姿势，凭着网（复）上（制）的前端知识，
                                            &nbsp 加上自己的后端语言，一步一步搭建了这个网站，遇到困难，解决困难，一点一点完成，算是受益匪浅吧！。</p>
                                    </div>
                                    <div class="bg-li">
                                        <p class="p-title">技术：</p>
                                        <p class="p-content">
                                            随着微服务的火热，DDD(领域驱动设计模式)思想风起云涌，冲击着整个软件生态系统。为了学习，于是便用DDD搭建了之个项目。
                                            这个项目由.net
                                            core3.1作为后端，layui作为前端，使用轻量级ORM:dapper进行DB处理，搭建的前后端分离项目。其中，mysql用来存储数据，redis用来缓存数据，<a
                                                style="color:#FF5722"
                                                href="https://docs.microsoft.com/zh-cn/aspnet/core/signalr/introduction?view=aspnetcore-3.1"
                                                target="_blank">SignalR</a>进行实时网络通信，系统主要有这三点支撑运行，服务器采用腾讯云的学生机centos服务器。
                                        </p>
                                    </div>
                                    <div class="bg-li">
                                        <p class="p-title">GitHub：</p>
                                        <p class="p-content">
                                            BlogApi:<a style="color:#FF5722" href="https://github.com/Hansdas/BlogH.git"
                                                target="_blank">https://github.com/Hansdas/BlogH.git</a>&nbsp;&nbsp;
                                            BlogUI:<a style="color:#FF5722" href="https://github.com/Hansdas/BlogUI.git"
                                                target="_blank">https://github.com/Hansdas/BlogUI.git</a>
                                    </div>
                                    <div class="bg-li">
                                        <p class="p-title">联系方式：</p>
                                        <p class="p-content">
                                            微信：h3248996258&nbsp;&nbsp;
                                            QQ：3248996258
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="layui-colla-item">
                            <h2 class="layui-colla-title">关于作者</h2>
                            <div class="layui-colla-content" style="height:700px">
                                <div class="author-info">
                                    <div class="left">
                                        <fieldset class="layui-elem-field">
                                            <legend><img src="/style/images/touxiang.jpg"></legend>
                                            <div class="layui-field-box">
                                                <div class="name">愿被世界温柔以待</div>
                                                <div class="au-li">一枚单身程序员</div>
                                                <div class="au-li">94/05/21，男，湖北天门</div>
                                                <div class="au-li">.net开发，熟悉java语言，略懂前端</div>
                                                <div class="au-li">老宅男，不爱出门</div>
                                                <div class="au-li">爱好打dota2，技术属于鱼塘里的小鱼</div>
                                                <div class="au-li"><a style="color:#FF5722"
                                                        href="https://www.douyu.com/3149221"
                                                        target="_blank">业余直播间，纯属乐趣</a> </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="right">
                                        <div class="li-p">
                                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp1994年5月21日，带着双子座的性格，出生于湖北天门的一个村庄里，开始了这一生的、漫漫的、有去无回的旅途。
                                        </div>
                                        <div class="li-p">
                                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp记忆中是16年踏入社会的，因为在不爱上课，所以只好读了三年的专科。刚毕业的时候，是有那么点不舍与不适应，甚至工作了一年了，和室友在寝室打游戏，
                                            在外面聚餐吃饭也经常梦到，当然现在很久没梦到了，但是，那个场景却很怀念，仿佛历历在目。出了校门，就再也回不去了，不可能再像以前那样任性，最重要的是：money。
                                            你已经踏入社会了，不可能再向家里衣来伸手，饭来张口了，但是自己又什么也不会，于是自己就在网上买了本《C#入门基础》，从此白天面试，晚上周末学习看书，最后算是找到
                                            工作了。我感觉面试的那段时间，我体会到了什么叫做风吹雨打，因为懂得艰辛，所以我现在才会不断努力。正像我的高中历史老师说的：“今天你摔了一跤，这是
                                            历史的必然性”，可能历史想叫您知道为啥摔这一跤吧！
                                        </div>
                                        <div class="li-p">
                                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp现在已经工作了3年了，说学到了什么却说不出来，可能那玩意只可意会不可言传吧。并不像别人说的那样工作几年应该变得油嘴滑舌，相反自己还是比较宅，比较老实，
                                            不像别人那样能说会道，有时候真的很项目那些在人场里呱呱不停的说，但是非要说学到了点什么，那就感觉是会做白日梦了：励志成为架构师，我感觉我找到了当程序员的追求与梦想，“先挣他个一个亿”。
                                            工作3年了我觉得我情商还是挺低的，不会和人处关系，特别是来撩妹这种事，都说女孩是撩出来的，可是自己的相亲对象却一个也没撩到，甚至还有一个把自己删了微信，实在失败！！！不过说来，我天生不是那种细腻的人，
                                            不是那种善于表达的人，我觉得有些话说出来特别别扭，倒不如直接做出来比较好，实际行动高于一切，从不喜欢只打雷不下雨。
                                        </div>
                                        <div class="li-p">
                                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp今年已经26岁了，时间过得好快啊，太快了，不是好事，父母也老了，自己也老了，可是仍然一事无成，可是我却喜欢这样。一个人可以选择碌碌无为好吧，但却不能因为自己的
                                            碌碌无为而怨天尤人，抱怨社会，自己走的路，绝不要后悔，反正我不后悔！不过，目前最大的愿望就是遇到一个对的人，不想让自己的父母日夜操心，白了头发，正如那首歌所唱“
                                            就让时光慢些吧 不要再让你变老了
                                            我愿用我一切换你岁月长留”，同时能让自己有一个避风港，不在孤寂无聊。我不羡慕秀恩爱的情侣，只羡慕能一起白头偕老的老夫老妻，共同
                                            面对未来。
                                        </div>
                                        <div class="li-p">
                                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp我也不知道以后会是什么样子的，就像旅途一样，不知道后面是什么样子，但是想回去看以前的却没有回去的路，那些之前的只能存在与记忆里了。
                                        </div>
                                        <div class="li-p">
                                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp时光荏苒，逝者如斯夫，不舍昼夜,祝愿自己以后的旅途充满着美好与温暖！
                                        </div>
                                        <div class="li-p right-date">
                                            2020/06/01 21:49
                                        </div>
                                        <div class="ct">
                                            文笔不是很好，毕竟不是文科班子，见笑~~~
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="layui-colla-item">
                            <h2 class="layui-colla-title">留言</h2>
                            <div class="layui-colla-content">
                                <div class="layui-form leave-message">
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">联系邮箱</label>
                                        <div class="layui-input-block">
                                            <input type="text" style="float: left;width: 87%;" id="email"
                                                autocomplete="off" class="layui-input">
                                            <span class="info-span">选填</span>
                                        </div>
                                    </div>
                                    <div class="layui-form-item layui-form-text">
                                        <label class="layui-form-label">留言内容*</label>
                                        <div class="layui-input-block">
                                            <textarea id="content" style="width: 800px"
                                                class="layui-textarea"></textarea>
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <div class="layui-input-block">
                                            <button class="layui-btn" id="leaveMessage" lay-submit>留言</button>
                                            <span class="error-span"></span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <iframe id="iframe-footer" frameborder=0 width="100%" scrolling=no marginwidth='0' marginheight='0'
        noresize="noresize" src="../master/footer.html"></iframe>
    <script src="/style/js/jquery.js"></script>
    <script src="/style/layui/layui.js?v=123"></script>
    <script>
        layui.use(['element', 'form', 'layer'], function () {
            var element = layui.element; layer = layui.layer;
            $('#leaveMessage').click(function () {
                var email = $('#email').val();
                if (email != '') {
                    var reg = new RegExp("^[a-z0-9]+([._\\-]*[a-z0-9])*@([a-z0-9]+[-a-z0-9]*[a-z0-9]+.){1,63}[a-z0-9]+$"); //邮箱正则表达式
                    if (!reg.test(email)) {
                        $('.error-span').html('邮箱不合规!')
                        return;
                    }
                }
                var content = $('#content').val();
                if (content == '') {
                    $('.error-span').html('请填写内容!')
                    return;
                }
            })
        });
    </script>
</body>