<!DOCTYPE html>

<head>
    <meta name="viewport" content="width = device-width" />
    <meta name="referrer" content="never">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>微语</title>
    <link href="/style/layui/css/layui.css" rel="stylesheet" />
    <link href="/style/css/main.css?v=201908282045" rel="stylesheet" />
    <link href="/style/css/common.css?v=201909031058" rel="stylesheet" />
    <link href="/style/css/loading.css" rel="stylesheet" />
</head>
<div class="content square" style="padding:73px 0 160px 0 !important">
    <div class="cont">
        <div class="left">
            <div class="news-top">
                <div class="news-box">
                    <div class="tip">最新新闻</div>
                    <ul id="news-ul">
                        <!-- <li>
                            <span class="num">1</span>
                            <p>苹果向新冠病毒检测试剂盒供应商 COPAN 捐资 1000 万美元</p>
                            <div class="news-right">
                                <a href=""> 【腾讯新闻网】 2020-5-8
                                </a>
                            </div>
                        </li>
                        <li>
                            <span class="num">1</span>
                            <p>苹果向新冠病毒检测试剂盒供应商 COPAN 捐资 1000 万美元</p>
                            <div class="news-right">
                                <a href=""> 【腾讯新闻网】 2020-5-8
                                </a>
                            </div>
                        </li>
                        <li>
                            <span class="num">1</span>
                            <p>苹果向新冠病毒检测试剂盒供应商 COPAN 捐资 1000 万美元</p>
                            <div class="news-right">
                                <a href=""> 【腾讯新闻网】 2020-5-8
                                </a>
                            </div>
                        </li>
                        <li>
                            <span class="num">1</span>
                            <p>苹果向新冠病毒检测试剂盒供应商 COPAN 捐资 1000 万美元</p>
                            <div class="news-right">
                                <a href=""> 【腾讯新闻网】 2020-5-8
                                </a>
                            </div>
                        </li>
                        <li>
                            <span class="num">1</span>
                            <p>苹果向新冠病毒检测试剂盒供应商 COPAN 捐资 1000 万美元</p>
                            <div class="news-right">
                                <a href=""> 【腾讯新闻网】 2020-5-8
                                </a>
                            </div>
                        </li> -->
                    </ul>
                </div>
            </div>
            <div class="articles">
                <div class="tip">最新文章</div>
                <div id="article-item"></div>
            </div>
        </div>
        <div class="right">
            <div class="write white-background" style="width: 323px">
                <div style="padding:10px">
                    <div class="tip">发表心情</div>
                    <textarea id="L_content" lay-verify="content" class="layui-textarea"></textarea>
                    <button class="layui-btn" title="发表"><i class="layui-icon layui-icon-release"></i></button>
                    <div id="mood" style="min-height:67px"></div>
                    <!-- <div class="write-item">
                        <div style="display: inline-flex">
                            <a class="author" href="">admin</a>
                            <p style="font-size:13px">：大雨，就要开始不停的下。 我的心，我的心， 已经完全的失去方向，带我到没有爱情的地方。</p>
                        </div>
                        <p class="date">2020-5-11 21:27 <a href="" style="color: #9b9b9b !important">评论(0)</a></p>
                    </div>
                    <hr>
                    <div class="write-item">
                        <a class="author" href="">admin</a>
                        <p style="font-size:13px">：每次下雨打雷我都不敢开窗户，深怕被雷劈死</p>
                        <p class="date">2020-5-11 21:27 <a href="" style="color: #9b9b9b !important">评论(0)</a></p>
                    </div>
                    <hr>
                    <div class="write-item">
                        <a class="author" href="">admin</a>
                        <p style="font-size:13px">：怕 火🔥 做饭咋办啊！！！！！！</p>
                        <p class="date">2020-5-11 21:27 <a href="" style="color: #9b9b9b !important">评论(0)</a></p>
                    </div>
                    <hr>
                    <div class="write-item">
                        <div style="display: inline-flex">
                            <a class="author" href="">admin</a>
                            <p style="font-size:13px">：关于一孕傻三年，我推理一下原因：孕了会生孩子，生孩子得喂奶，喂奶胸就会大，胸大自然无脑。</p>
                        </div>
                        <p class="date">2020-5-11 21:27 <a href="" style="color: #9b9b9b !important">评论(0)</a></p>
                    </div>
                    <hr>
                    <div class="write-item">
                        <a class="author" href="">admin</a>
                        <p style="font-size:13px">: 换个头像看看！！！</p>
                        <p class="date">2020-5-11 21:27 <a href="" style="color: #9b9b9b !important">评论(0)</a></p>
                    </div>
                    <hr> -->
                </div>
            </div>
            <div style="margin-top:14px">
                <a href="https://cloud.tencent.com/act/cps/redirect?redirect=1054&cps_key=e6d8f70d8241076117ae9d4a891fe3ab&from=console"
                    target="_blank">
                    <img src="/style/images/tengxunyun.jpg" style="width: 324px">
                </a>
            </div>
        </div>
    </div>
</div>
<!--渲染的模板-->
<script type="text/html" id="new-article">
    {{#layui.each(d.list,function(index,item){}}
    <div class="box">
        <div>
            {{#  if(item.articleType=='散文礼记'){ }}
            <button class="layui-btn new-icon w62">{{item.articleType}}</button>
            {{#  } }}
            {{#  if(item.articleType=='旅游杂记'){ }}
            <button class="layui-btn new-icon w62" style="background:#FF5722 !important">{{item.articleType}}</button>
            {{#  } }}
            {{#  if(item.articleType=='编程世界'){ }}
            <button class="layui-btn new-icon w62" style="background:#f8c555 !important">{{item.articleType}}</button>
            {{#  } }}
            {{#  if(item.articleType=='游戏人生'){ }}
            <button class="layui-btn new-icon w62" style="background:#cc99cd !important">{{item.articleType}}</button>
            {{#  } }}
            {{#  if(item.articleType=='趣味杂记'){ }}
            <button class="layui-btn new-icon w62" style="background:#337ab7 !important">{{item.articleType}}</button>
            {{#  } }}
            </h3>
            <a target='_blank' href="../article/detail.html?id={{item.id}}&t={{item.articleType}}">{{item.title}}</a>
        </div>
        <p>{{item.textSection}}</p>
        <div class="float-right">
            <a href="">
                <i class="layui-icon layui-icon-username">{{item.author}}
                </i>
            </a>
            <i class="layui-icon layui-icon-date">{{item.createTime}}</i>
        </div>
    </div>
    {{# }); }}
</script>
<script src="/style/js/jquery.js"></script>
<script src="/style/layui/layui.js?v=123"></script>
<script src="/style/js/request.js?v=20112171144"></script>
<script src="/style/js/util.js"></script>
<script src="/style/js/square.js"></script>