<!DOCTYPE html>

<head>
    <meta name="viewport" content="width = device-width" />
    <meta name="referrer" content="never">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>微语</title>
    <link href="/style/layui/css/layui.css" rel="stylesheet" />
    <link href="/style/css/main.css?v=201908282045" rel="stylesheet" />
    <link href="/style/css/common.css?v=201909031058" rel="stylesheet" />
    <style>
        .layui-layer-loading {
            top: 233px !important;
            left: 500.5px !important;
        }
    </style>
</head>
<div class="content">
    <div class="cont">
         <div class="left" style="margin-left: 130px">
            <!-- <div class="layui-carousel" id="test1" lay-filter="test1">
                <div carousel-item="">
                    <div style="padding: 10px">
                            <div style="background: white;color: #777;line-height: 24px;font-style: normal; white-space:normal;word-break:break-all;word-wrap:break-word; ">
                                苹果宣布从其先进制造基金（Advanced Manufacturing Fund）中拿出 1000 
                                万美元捐赠给新冠病毒检测试剂盒制造商 COPAN Diagnostics。苹果称，这笔资金将帮助 COPAN 大幅提高试剂盒生产规模，“从目前的每周几千份扩大到 7 月初的每周超过 100 万份”。苹      
                            </div>                     
                    </div>
                </div>
            </div> -->
            <div style="background: #f9f9f9;width:700px;margin-top: 10px;padding: 10px">
                    <div style="background:white;height: 150px;margin: 10px;padding: 10px;">
                        <div style="color: #00a67c;font-size: 17px; border-bottom: 1px solid;font-weight:600; padding-bottom: 10px;">最新新闻</div>
                        <ul style="color: #00a67c">
                            <li style="margin-bottom:10px;margin-top:10px">
                                <span style="position: relative;
                                display: inline-block;
                                padding: 4px 6px 3px;
                                line-height: 14px;
                                color: #fff;
                                vertical-align: baseline;
                                white-space: nowrap;background-color: #fd8c84;float:left">1</span>
                                <p style="float:left;margin-left:10px">苹果向新冠病毒检测试剂盒供应商 COPAN 捐资 1000 万美元</p>
                                <div style="float:right">
                                <a href=""> 【腾讯新闻网】 2020-5-8 
                                    </a>
                                </div>
                            </li>
                            <li style="margin-bottom:10px;margin-top:10px">
                                    <span style="position: relative;
                                    display: inline-block;
                                    padding: 4px 6px 3px;
                                    line-height: 14px;
                                    color: #fff;
                                    vertical-align: baseline;
                                    white-space: nowrap;background-color: #fd8c84;float:left">1</span>
                                    <p style="float:left;margin-left:10px">苹果向新冠病毒检测试剂盒供应商 COPAN 捐资 1000 万美元</p>
                                    <div style="float:right">
                                    <a href=""> 【腾讯新闻网】 2020-5-8 
                                        </a>
                                    </div>
                                </li>
                                <li style="margin-bottom:10px;margin-top:10px">
                                        <span style="position: relative;
                                        display: inline-block;
                                        padding: 4px 6px 3px;
                                        line-height: 14px;
                                        color: #fff;
                                        vertical-align: baseline;
                                        white-space: nowrap;background-color: #fd8c84;float:left">1</span>
                                        <p style="float:left;margin-left:10px">苹果向新冠病毒检测试剂盒供应商 COPAN 捐资 1000 万美元</p>
                                        <div style="float:right">
                                        <a href=""> 【腾讯新闻网】 2020-5-8 
                                            </a>
                                        </div>
                                    </li>
                                    <li style="margin-bottom:10px;margin-top:10px">
                                            <span style="position: relative;
                                            display: inline-block;
                                            padding: 4px 6px 3px;
                                            line-height: 14px;
                                            color: #fff;
                                            vertical-align: baseline;
                                            white-space: nowrap;background-color: #fd8c84;float:left">1</span>
                                            <p style="float:left;margin-left:10px">苹果向新冠病毒检测试剂盒供应商 COPAN 捐资 1000 万美元</p>
                                            <div style="float:right">
                                            <a href=""> 【腾讯新闻网】 2020-5-8 
                                                </a>
                                            </div>
                                        </li>
                                        <li style="margin-bottom:10px;margin-top:10px">
                                                <span style="position: relative;
                                                display: inline-block;
                                                padding: 4px 6px 3px;
                                                line-height: 14px;
                                                color: #fff;
                                                vertical-align: baseline;
                                                white-space: nowrap;background-color: #fd8c84;float:left">1</span>
                                                <p style="float:left;margin-left:10px">苹果向新冠病毒检测试剂盒供应商 COPAN 捐资 1000 万美元</p>
                                                <div style="float:right">
                                                <a href=""> 【腾讯新闻网】 2020-5-8 
                                                    </a>
                                                </div>
                                            </li>
                        </ul>
                    </div>

             </div>
            <div style="background: #f9f9f9;width:700px;margin-top: 10px;padding: 10px"> 
                    <div style="color: #00a67c;font-size: 17px; border-bottom: 1px solid;font-weight:600; padding-bottom: 10px;">最新文章</div>

                 <div style="background:white;height: 150px;margin: 10px;padding: 10px;">
                    <div>
                        <button class="layui-btn new-icon w62" style="background-color:#01AAED !important;height: 21px;line-height: 2px;margin-bottom:6px;font-size:13px !important;padding:0 0 0 0 !important;" >旅游杂记</button></h3>
                        <a href="" style="color: #00a67c;font-weight:400;font-size:20px" title="这是一个标题">只是一个标题</a>
                    </div>
                        <p style="color: #777;line-height: 24px;margin-bottom: 0;font-style: normal;">
                        内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内
                        容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
                        </p>
                    <div style="float:right;line-height:35px">
                         <a href=""> 
                             <i class="layui-icon layui-icon-username" style="font-size: 16px; color: #009688;">admin </i>
                         </a>
                         <i class="layui-icon layui-icon-date" style="font-size: 16px; color: #777;">2020/5/8</i> 
                    </div>
                </div>
                <div style="background:white;height: 150px;margin: 10px;padding: 10px;">
                        <div>
                            <button class="layui-btn new-icon w62" style="background-color:#01AAED !important;height: 21px;line-height: 2px;margin-bottom:6px;font-size:13px !important;padding:0 0 0 0 !important;" >旅游杂记</button></h3>
                            <a href="" style="color: #00a67c;font-weight:400;font-size:20px" title="这是一个标题">只是一个标题</a>
                        </div>
                            <p style="color: #777;line-height: 24px;margin-bottom: 0;font-style: normal;">
                            内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内
                            容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
                            </p>
                        <div style="float:right;line-height:35px">
                             <a href=""> 
                                 <i class="layui-icon layui-icon-username" style="font-size: 16px; color: #009688;">admin </i>
                             </a>
                             <i class="layui-icon layui-icon-date" style="font-size: 16px; color: #777;">2020/5/8</i> 
                        </div>
                    </div> 
                    <div style="background:white;height: 150px;margin: 10px;padding: 10px;">
                            <div>
                                <button class="layui-btn new-icon w62" style="background-color:#01AAED !important;height: 21px;line-height: 2px;margin-bottom:6px;font-size:13px !important;padding:0 0 0 0 !important;" >旅游杂记</button></h3>
                                <a href="" style="color: #00a67c;font-weight:400;font-size:20px" title="这是一个标题">只是一个标题</a>
                            </div>
                                <p style="color: #777;line-height: 24px;margin-bottom: 0;font-style: normal;">
                                内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内
                                容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
                                </p>
                            <div style="float:right;line-height:35px">
                                 <a href=""> 
                                     <i class="layui-icon layui-icon-username" style="font-size: 16px; color: #009688;">admin </i>
                                 </a>
                                 <i class="layui-icon layui-icon-date" style="font-size: 16px; color: #777;">2020/5/8</i> 
                            </div>
                        </div> 
                        <div style="background:white;height: 150px;margin: 10px;padding: 10px;">
                                <div>
                                    <button class="layui-btn new-icon w62" style="background-color:#01AAED !important;height: 21px;line-height: 2px;margin-bottom:6px;font-size:13px !important;padding:0 0 0 0 !important;" >旅游杂记</button></h3>
                                    <a href="" style="color: #00a67c;font-weight:400;font-size:20px" title="这是一个标题">只是一个标题</a>
                                </div>
                                    <p style="color: #777;line-height: 24px;margin-bottom: 0;font-style: normal;">
                                    内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内
                                    容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
                                    </p>
                                <div style="float:right;line-height:35px">
                                     <a href=""> 
                                         <i class="layui-icon layui-icon-username" style="font-size: 16px; color: #009688;">admin </i>
                                     </a>
                                     <i class="layui-icon layui-icon-date" style="font-size: 16px; color: #777;">2020/5/8</i> 
                                </div>
                            </div> 
                            <div style="background:white;height: 150px;margin: 10px;padding: 10px;">
                                    <div>
                                        <button class="layui-btn new-icon w62" style="background-color:#01AAED !important;height: 21px;line-height: 2px;margin-bottom:6px;font-size:13px !important;padding:0 0 0 0 !important;" >旅游杂记</button></h3>
                                        <a href="" style="color: #00a67c;font-weight:400;font-size:20px" title="这是一个标题">只是一个标题</a>
                                    </div>
                                        <p style="color: #777;line-height: 24px;margin-bottom: 0;font-style: normal;">
                                        内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内
                                        容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
                                        </p>
                                    <div style="float:right;line-height:35px">
                                         <a href=""> 
                                             <i class="layui-icon layui-icon-username" style="font-size: 16px; color: #009688;">admin </i>
                                         </a>
                                         <i class="layui-icon layui-icon-date" style="font-size: 16px; color: #777;">2020/5/8</i> 
                                    </div>
                                </div>                                 
            </div>
        </div>
    </div>
</div>
<!--渲染的模板-->
<script type="text/html" id="hot-item-script">
    {{# layui.each(d.list,function(index,item){}}
    <li> <a target="_blank" href="../article/detail.html?id={{item.id}}&t={{item.articleType}}">{{item.title}}</a></li>
    {{# }); }}
</script>
<script type="text/html" id="article-item">
    {{# layui.each(d.list,function(index,item){}}
    <div class="item">
        <div class="layui-fluid">
            <div class="layui-row">
                <div class="">
                    <div class="item-cont item-title">
                        <h3><a target="_blank"
                                href="../article/detail.html?id={{item.id}}&t={{item.articleType}}">{{item.title}}</a>
                            <button class="layui-btn new-icon w62"
                                style="background-color:#01AAED !important">{{item.articleType}}</button></h3>
                        <p><a target="_blank"
                                href="../article/detail.html?id={{item.id}}&t={{item.articleType}}">{{item.textSection}}</a>
                        </p>
                        <div class="item-f">
                            <div class="author"><a target="_blank" href="">{{item.author}}</a></div>
                            <div class="date">{{item.createTime}}</div>
                            <div class="comment">
                                <a target="_blank"
                                    href="../article/detail.html?id={{item.id}}&t={{item.articleType}}&c=c">
                                    <i class="layui-icon layui-icon-reply-fill"
                                        style="font-size: 12px !important;color: #999 !important">评论({{item.commentCount}})</i></a>
                            </div>
                            <div class="read">
                                <i class="layui-icon layui-icon-read"
                                    style="font-size: 12px !important;line-height:1px"><span>阅读({{item.browserCount}})</span></i>
                            </div>
                            <div class="praise">
                                <i class="layui-icon layui-icon-praise" style="font-size: 13px !important;"
                                    onclick="praise(this.id)" id="{{item.id}}">
                                    <span>点赞({{item.praiseCount}})</span></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="bor item-bottom" />
    {{# }); }}
</script>
<script src="/style/js/jquery.js"></script>
<script src="/style/layui/layui.js?v=123"></script>
<script src="/style/js/request.js?v=20112171144"></script>
<script src="/style/js/article/index.js?v=201912191457"></script>
<script src="/style/js/util.js"></script>
<script>
    layui.use(['carousel', 'form'], function () {
        var carousel = layui.carousel,
            form = layui.form;

        //常规轮播
        carousel.render({
            elem: '#test1',
            arrow: 'always',
            height: '120px',
            width:'720px'
        });

        //改变下时间间隔、动画类型、高度
        carousel.render({
            elem: '#test2',
            interval: 1800,
            anim: 'fade',
            height: '120px'
        });

        //设定各种参数
        var ins3 = carousel.render({
            elem: '#test3'
        });
        //图片轮播
        carousel.render({
            elem: '#test10',
            width: '778px',
            height: '440px',
            interval: 5000
        });

        //事件
        carousel.on('change(test4)', function (res) {
            console.log(res)
        });

        var $ = layui.$,
            active = {
                set: function (othis) {
                    var THIS = 'layui-bg-normal',
                        key = othis.data('key'),
                        options = {};

                    othis.css('background-color', '#5FB878').siblings().removeAttr('style');
                    options[key] = othis.data('value');
                    ins3.reload(options);
                }
            };

        //监听开关
        form.on('switch(autoplay)', function () {
            ins3.reload({
                autoplay: this.checked
            });
        });

        $('.demoSet').on('keyup', function () {
            var value = this.value,
                options = {};
            if (!/^\d+$/.test(value)) return;

            options[this.name] = value;
            ins3.reload(options);
        });

        //其它示例
        $('.demoTest .layui-btn').on('click', function () {
            var othis = $(this),
                type = othis.data('type');
            active[type] ? active[type].call(this, othis) : '';
        });
    });
</script>