<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width = device-width" />
    <link href="/style/layui/css/layui.css?v=202005282241" rel="stylesheet" />
    <link href="/style/css/main.css?v=202005282241" rel="stylesheet" />
    <link href="/style/css/common.css?v=202005282241" rel="stylesheet" />
</head>
<body>
    <div class="footer-wrap">
        <div class="footer">
            <div class="footer-info footer-info-author">
                作者：Mr.Han
            </div>
            <div class="footer-info">
                邮箱:<span class="email">2704027639@qq.com</span>
            </div>
            <div style="text-align: center;">
                Copyright © Mr.Han <a href="http://beian.miit.gov.cn" target="_blank">鄂ICP备20001892号-1</a>
            </div>
        </div>
    </div>
</body>

</html>