<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width = device-width" />
    <title>My Blog</title>
    <link href="/style/layui/css/layui.css?201908072006" rel="stylesheet" />
    <link href="/style/css/main.css?v=201908062156" rel="stylesheet" />
    <link href="/style/css/layout.css" rel="stylesheet" />
    <link href="/style/css/common.css" rel="stylesheet" />
    <style>
        .layui-nav-child {
            color: white !important
        }

        .layui-nav-child a {
            color: #333 !important
        }
    </style>
</head>

<body class="mar">
    <div class="fly-header layui-bg-black">
        <div class="layui-header">
            <a href="../home/index?pagepath=article" target="_top">
                <img style="margin: -20px 0 0 155px" src="/style/images/logo.png">
            </a>
            <div class="header-menu">
                <div class="nav">
                    <a href="../home/index?pagepath=article" target="_top">文章</a>
                    <a href="javascript:;">微语</a>
                    <a href="about.html">关于</a>
                </div>
            </div>
        </div>
    </div>
    <script src="/style/js/jquery.js"></script>
    <script src="/style/layui/layui.js"></script>
    <script src="/style//js/request.js?v=20112171144"></script>
    <script src="/style/js/util.js"></script>
    <script src="/style/js/nav.js"></script>
</body>

</html>