/*文章*/
.h1370
{
    height:1000px;
    margin-left:50px;
    margin-right:50px
}

.h1370 .title i{
    position:absolute;
    top:8px;
    right:8px
}
.layui-btn {
    color: white !important;
    font-size: 14px !important
}

.item-title{
    width:954px
}
.box-left .item h3 {
    margin-left: 75px !important
}
.w62{
    width:62px !important
}
.box-right {
    float:right;
}
.box {  
    width: 327px;
    margin-right: 84px;
    border-radius: 2px
}
.h251 {
    height: 251px;
}
.h155 {
    height: 155px;
    border: 1px solid #ddd;
    margin-top: 28px
}
.box-title {
    height: 30px;
    background-color: #393D49 !important;
    border-radius: 2px
}
    .box-title h3 {
        margin-left: 10px;
        line-height: 29px;
        color: white
    }
.item-bottom {
    width: 100%;
    margin-left: 8.5% !important
}
.h251 .li-item li {
    border: 1px solid #ddd;
    height: 36px;
    display: block;
    padding-left: 15px;
    line-height: 34px;
    margin-bottom: -1px;
    border-radius: 2px;
    font-size: 14px
}
.hot .li-item-hot li {
    border-bottom: 1px solid #ddd;
    height: 36px;
    display: block;
    padding-left: 15px;
    line-height: 34px;
    margin-bottom: -1px;
    border-radius: 2px;
    font-size: 14px
}
.hot {
    margin-top: 28px;
}
.label {
    display: inline;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    line-height: 33px;
    margin-left: 6px
}
.h155  span {
    margin-bottom: 3px;
    padding: 4px 6px 4px 6px;
    cursor: pointer;
}
.color1 {
    background-color: #337ab7
}
.color2 {
    background-color: #5cb85c
}
.color3 {
    background-color: #d9534f
}
.color4 {
    background-color: #f0ad4e
}
.bor {
    margin-right:4%;
    margin-left: 5%;
    height: -17px;
    border: none;
    border-top: 1px dotted #ddd;
    background-color: #fff;
}
@media (min-width:1200px) {

    .box-left {
        float: left;
        width: 900px
    }

    .h1370 .title {
        margin-left: 11.33%
    }

    .title-type {
        margin-left: 8.33%
    }

    .search {
        margin-left: 35.1%
    }

    .box-left h3 {
        text-align: center !important;
        margin-right: 26% !important;
        margin-right: 162px
    }

    .box-left p {
        width: 802px
    }
}
@media (min-width:1500px) {

    .box-left {
        float: left;
        width: 900px
    }

    .h1370 .title {
        margin-left: 11.33%
    }

    .title-type {
        margin-left: 8.33%
    }

    .search {
        margin-left: 28.1%
    }

    .box-left h3 {
        text-align: center !important;
        margin-right: 26% !important;
        margin-right: 162px
    }

    .box-left p {
        width: 802px
    }
}
/*@media (min-width:1500px) {

    .box-left {
        float: left;
        width: 900px
    }

    .h1370 .title {
        margin-left: 19.33%
    }
    .title-type {
        margin-left: 9px
    }
    .search {
        margin-left: 363px
    }
    .box-left h3 {
        text-align: center !important;
        margin-right: 26% !important;
        margin-right:162px
    }
    .box-left p {
        width:802px
    }
}*/
@media  (min-width: 1900px) {
    .box-left {
        float: left;
        width: 900px
    }

    .title-type {
        margin-left:25.33%
    }
    .box-left h3 {
        text-align: center !important;
        margin-right: 26% !important
    }
    .search{
        margin-left:30.1%
    }
    .box-left p {
        width: 90%
    }
}
#LAY_layedit_1 {
    height: 400px !important
}

.layui-form-checkbox[lay-skin=primary] span {
    color: black;
}

.add {
    margin-top: 0px !important
}

.fly-marginTop {
    margin-top: 29px !important;
}

.layui-btn-primary {
    border: none !important;
    color: #009688 !important
}
.add-header {
    background-color: burlywood;
    height: 66px;
    z-index: 1000
}
    .header-bg{
        margin: 6px 0 0 192px
    }
.add-chechbox {
    margin-left: -10px;
    margin-bottom: 12px
}
