 /*.layui-nav{
    background: white ;
    float: right;
}
.layui-nav .layui-nav-item a {
    
    color: black
}
.layui-nav-item{
    color: darkviolet
}
.user{
    cursor:pointer;
}*/
.nav-right{
    position:absolute;
    right:164px;
}